<?xml version="1.0"?>

<robot name="robotiq_85_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="robotiq_85_gripper" params="prefix parent *origin">

    <joint name="${prefix}robotiq_85_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}robotiq_85_base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}robotiq_85_base_link">
      <visual>
        <geometry>
          <mesh filename="package://robotiq_description/meshes/visual/robotiq_85_gripper_closed_mini.dae"/>
        </geometry>
      </visual>

      <collision>
        <geometry>
          <mesh filename="package://robotiq_description/meshes/visual/robotiq_85_gripper_closed_mini.dae"/>
        </geometry>
      </collision>

      <!-- <inertial>
        <mass value="0.636951" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx = "0.000380" ixy = "0.000000" ixz = "0.000000"
             iyx = "0.000000" iyy = "0.001110" iyz = "0.000000"
             izx = "0.000000" izy = "0.000000" izz = "0.001171" />
      </inertial> -->
    </link>

  </xacro:macro>
</robot>
